<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Candidate Assesment Tool for HR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.candidateAsses.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>com.candidateAsses.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>com.candidateAsses.AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.candidateAsses.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJob</display-name>
    <servlet-name>AddJob</servlet-name>
    <servlet-class>com.candidateAsses.AddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJob</servlet-name>
    <url-pattern>/AddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetJobId</display-name>
    <servlet-name>SetJobId</servlet-name>
    <servlet-class>com.candidateAsses.SetJobId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetJobId</servlet-name>
    <url-pattern>/SetJobId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Short</display-name>
    <servlet-name>Short</servlet-name>
    <servlet-class>com.candidateAsses.Short</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Short</servlet-name>
    <url-pattern>/Short</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStat</display-name>
    <servlet-name>CheckStat</servlet-name>
    <servlet-class>com.candidateAsses.CheckStat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStat</servlet-name>
    <url-pattern>/CheckStat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestion</display-name>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>com.candidateAsses.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/AddQuestion</url-pattern>
  </servlet-mapping>
</web-app>